.container {
  max-width: 400px;
  margin: auto;
}
.header {
  display: flex;
  margin-bottom: 0.6em;
}

.heading-image-container {
  width: 15%;
  height: auto;
}

.heading-image-container > img {
  width: 100%;
}

.heading-text-container {
  width: 70%;
  height: auto;
}

.navbar-mobile-btn {
  width: 15%;
  position: relative;
}
/*
.navbar-mobile-btn > img{
    width: 100%;
}*/

.menu-btn {
  position: absolute;
  top: 25%;
}

.navbar-mobile-btn i {
  position: absolute;
  right: 0;
  top: 25%;
  font-size: 3em;
  color: rgb(93, 94, 95);
}

/*
.menu-icon{
    width: 3em;
  height: 0.5em;
  background-color: lightslategrey;
  margin: 6px 0;
}*/

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 1.5em;
}

.footer-item {
  display: flex;
  justify-content: space-around;
}

.main-content {
  background: url(/asserts/images/dog.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.main-content-text {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
}

.main-content-text > p {
  font-size: 70%;
}

#main-head {
  margin: 0%;
}

.small-headline-container {
  margin-top: 3%;
}

.news-option {
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.small-news-heading > p {
  font-size: 80%;
}

.table-heading-container {
  display: flex;
  justify-content: space-around;
  background-color: #5151ff;
  color: white;
  padding: 2%;
}

.table-rows {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.table-inner-content {
  width: 100%;
  text-align: center;
}

.table-content-container {
  display: flex;
  flex-direction: column;
}

.table-content-container > div:nth-child(odd) {
  background-color: #a9a9aa;
}
.score {
  display: flex;
  justify-content: space-around;
}

.weather-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
}

.current-weather-container {
  display: flex;
  height: 40%;
}
.weather-news-table {
  display: flex;
  justify-content: space-between;
  height: 40%;
}

.weather-news-table-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latest-news-column-container {
  display: flex;
  flex-direction: column;
}

.latest-news-container {
  margin: 3%;
}

.latest-news-col {
  margin: 2%;
}

.latest-news-img {
  width: 25%;
  margin: 0% 2% 0% 0%;
}

.latest-news-heading {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  margin: 0;
}

.hr-desktop-tab{
        border:none;
        height: 20px;
           width: 100%;
          height: 50px;
          margin-top: 0;
          border-bottom: 1px solid lightgrey;
          box-shadow: 0 10px 10px -10px #333;
        margin: -50px auto 10px; 
    
}

/*Mob View*/

@media screen and (max-width: 700px) {
  .weather-container-tab {
    display: none;
  }
  .container {
    max-width: 699px;
  }

  .heading-image-container {
    position: relative;
  }
  .heading-image-container img {
    width: 75%;
  }

  .heading-text-container {
    position: relative;
  }

  .heading-text-container h1 {
    position: absolute;
    top: 25%;
    margin: 0;
    font-weight: normal;
    font-size: 1.3em;
  }

  .navbar-mobile-btn {
  }

  .main-content {
    height: 250px;
  }

  .hr-desktop-tab {
    display: none;
  }

  .navbar {
    display: none;
  }
}
/* Tablet View*/

@media screen and (min-width: 701px) {
  .container {
    max-width: 999px;
    display: flex;
    flex-wrap: wrap;
  }

  .header-container {
    order: 1;
    width: 100%;
  }

  .heading-text-container {
    position: relative;
  }

  .heading-text-container h1 {
    margin: 0;
    font-size: 3em;
    position: absolute;
    top: 50%;
    font-weight: normal;
  }

  .navbar {
    order: 2;
    width: 100%;
  }
  .main-content-container {
    display: flex;
    width: 60%;
    height: 300px;
    order: 3;
  }

  .weather-container {
    order: 4;
    width: 40%;
  }

  .small-headline-container {
    order: 5;
    width: 100%;
  }

  .table-news-container {
    order: 6;
    width: 100%;
  }

  .latest-news-container {
    order: 7;
    width: 100%;
  }

  .latest-news-column-container {
    order: 8;
    width: 100%;
  }

  .latest-news-heading {
    font-size: 1em;
    margin: 0%;
  }

  .latest-news-description {
    display: block;
  }
  .footer {
    order: 9;
    width: 100%;
  }

  .navbar-mobile-btn {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    display: flex;
  }

  .header-container {
    order: 1;
    width: 100%;
  }

  .heading-text-container {
    position: relative;
  }

  .heading-text-container h1 {
    margin: 0;
    font-size: 3em;
    position: absolute;
    top: 50%;
    font-weight: normal;
  }

  .navbar {
    order: 2;
    width: 100%;
  }
  .main-content-container {
    display: flex;
    width: 100%;
    height: 400px;
    order: 3;
  }

  .main-content {
    width: 100%;
  }

  .weather-container {
    order: 6;
    width: 100%;
  }

  .current-weather-city {
    height: 20%;
  }

  .current-weather-container {
    height: 30%;
  }

  .weather-news-table {
    height: 50%;
    padding: 2%;
  }

  .weather-news-table-column {
    width: 20%;
  }

  .weather-news-image {
    width: 70%;
    height: 85%;
  }

  .weather-news-image img {
    width: 100%;
    height: 100%;
  }

  .small-headline-container {
    order: 4;
    width: 100%;
  }

  .table-news-container {
    order: 5;
    width: 100%;
  }

  .latest-news-container {
    order: 7;
    width: 100%;
    margin-top: 5%;
  }

  .latest-news-column-container {
    order: 8;
    width: 100%;
  }

  .latest-news-heading {
    font-size: 1em;
    margin: 0%;
  }

  .latest-news-description {
    display: block;
  }
  .footer {
    order: 9;
    width: 100%;
  }
}
